/*    General Css    */

html, body, p, div, ul{
    margin: 0;

    padding: 0;
}

body{
    background: #f2f2f2;
    text-transform: uppercase;

    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    line-height: 21px;
}

.wrapper{
    margin: 0 auto;
    padding: 0;

    min-width: 768px;
    max-width: 1200px;
    background: #fff;
    box-shadow: 0 0 10px 0 #c8c8c8;
    text-align: center;
}

.wrapper:after {
    display: table;
    clear: both;

    content: '';
}

.clearfix:after {
    display: table;
    clear: both;

    content: "";
}

/*    Header    */

header{
    position: relative;
    z-index: 10;
    height: 56px;

    background: #fff;
}

header .head-nav{
    margin: 0;
    padding: 0;

    list-style: none;
}

header .head-nav li{
    float: left;
    padding: 0;
    width: 20%;
}

.head-nav a{
    display: block;
    padding: 15px 0;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.main-logo a{
    padding: 0;
}

.head-nav a:hover{
    color: #81b3d2;
}

.head-nav a:active{
    color: #000;
}
.head-nav a:active{
    color: #B2B2B2;
}

/*    Content    */

.intro{
    position: relative;
    padding: 65px 0;

    background: url("img/cont-bg.jpg") 0 0 no-repeat;
    background-size: cover;
}

.intro:after{
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: table;
    width: 100.1%;
    height: 57px;
    background: url("img/image-white2.png") 0 100% no-repeat;
    background-size: contain;

    content: "";
}

.intro .welcome-sign{
    margin: auto;
    width: 188px;
}

.welcome-sign-dash{
    margin: auto;
    margin-top: 10px;

    width: 256px;
}

.wel-title{
    margin: auto;
    margin-top: 50px;

    width: 458px;
}

.wel-because{
    margin: auto;
    margin-top: 55px;

    width: 296px;
}

.sedona-preface{
    margin: auto;
    padding: 55px;
}

.sedona-merit{
    margin-bottom: 35px;
    text-align: center;

    font-weight: bold;
    font-size: 21px;
}

.reason{
    height: 256px;

    color: #fff;
}

.col1-1{
    float: left;

    width: 33.333%;
}

.col1-2{
    float: left;
    overflow: hidden;

    width: 66.666%;
    height: 256px;
}

.reason .col1-1{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 50px;
    height: 100%;
    background: #81b3d2;
}

.col1-1 .reas-title{
    font-weight: bold;

    font-size: 21px;
    line-height: 26px;
}

.col1-1 .reas-num{
    padding: 15px 0 21px;
}
.col1-2 img{
    width: 100%;
}

.features{
    height: 330px;
}

.features ul{
    list-style: none;
}

.features ul li{
    float: left;
    box-sizing: border-box;
    padding: 0 50px;
    padding-top: 55px;
    padding-bottom: 50px;
    width: 33.333%;
    height: 100%;
}

.features .feature-title{
    margin-top: 30px;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.more-res{
    background: #eeeeee;

    //height: 256px;
}

.more-res ul{
    list-style: none;
}

.more-res ul li{
    float: left;

    box-sizing: border-box;
    padding: 50px 70px;
    width: 33.333%;
}

.more-res .feature-title{
    margin-bottom: 15px;

    font-weight: bold;
    font-size: 21px;
    line-height: 26px;

    //padding-left: 70px;
    //padding-right: 70px;
}

.more-res .feature-desc{
    margin-top: 25px;
}

.hotel{
    position: relative;
}

.hotels-preface{
    padding-top: 58px;
    padding-bottom: 135px;
}

.hotels-preface .hotel-title{
    text-align: center;

    font-weight: bold;
    font-size: 30px;
    line-height: 26px;
}

.hotels-preface .hotel-offer{
    line-height: 24px;
}

.map{
    overflow: hidden;

    height: 473px;
}

.hotel-search-form{
    position: absolute;
    top: 173px;
    left: 50%;
    margin-left: -285px;
    width: 568px;
    background: #fff;

    //min-height: 200px;
}

.hotel-search-form .form-title{
    padding: 34px 0;
    background: #766357;
    color: #fff;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.hotel-search-form .arg{
    box-sizing: border-box;
    padding: 55px;
    font-weight: bold;
}

.hotel-search-form label{
    margin-right: 20px;
}
.hotel-search-form label:nth-child(2n){
    margin-right: 17px;
}

.hotel-search-form input{
    margin-bottom: 30px;
    border: 0px;
    background: #f2f2f2;
    text-transform: uppercase;
    font-weight: bold;

    font-family: 'PT Sans', sans-serif;
}
.hotel-search-form input:last-child{
    margin-bottom: 0;
}

.hotel-search-form input[type="date"]{
    box-sizing: border-box;
    padding: 14px;
    width: 346px;
    height: 38px;

    //display: block;
}

.hotel-search-form input[type="number"]{
    width: 114px;
    height: 38px;
}

.hotel-search-form input[type="submit"]{
    display: block;
    box-sizing: border-box;
    margin: auto;
    padding: 20px 197px;
    border: 0px;
    background: #81b3d2;
    color: #fff;
    font-size: 21px;
    line-height: 26px;
}

.hotel-search-form input[type="submit"]:hover{
    background-color: #669EC0;
}

.hotel-search-form input[type="submit"]:active{
    background-color: #5496BD;
    color: #88B6D1;
}
/*    Footer    */

footer{
    //vertical-align: center;
}

footer .col{
    float: left;

    width: 33%;

    //display: inline-block;
}

footer .foot-tag{
    padding-top: 50px;
    font-weight: bold;

    font-size: 21px;
    line-height: 26px;
}

footer .btn-social{
    display: inline-block;
    width: 46px;
    height: 48px;
 }

footer .footer-social{
    margin-top: 37px;
    margin-bottom: 36px;
}

.footer-social a.twitter-icon{
    background: url(img/social-icons.png) 0 0 no-repeat;
}
.footer-social a.fb-icon{
    background: url(img/social-icons.png) -52px 0 no-repeat;
}
.footer-social a.youtube-icon{
    background: url(img/social-icons.png) -104px 0 no-repeat;
}

footer .copyright{
    padding: 40px;
    line-height: 26px;
}
a.block-copyright{
    margin: 0 7px;
}
footer .copyright a.glukhanko{
    display: inline-block;
    width: 27px;
    height: 30px;
    background: url(img/copyright.png) 0 0 no-repeat;
    vertical-align: middle;
}

footer .copyright a.htmlacademy{
    display: inline-block;
    width: 27px;
    height: 33px;
    background: url(img/copyright.png) -76px 0 no-repeat;
    vertical-align: middle;
}

/*    Hotels    */

main .filters .l-left{
    float: left;
}

main .filters .l-left .structure{
    float: left;
}

main .filters .l-left .property{
    float: left;
}

main .sort .sort-filters{
    float: left;
}

main .sort .sort-controls{
    float: right;
}

main .filters .l-right{
    float: right;
}

.items .item .item-col-left{
    float: left;
}

.items .item .item-col-right{
    float: right;
}

main .filters{
    position: relative;
    background: url(img/hotel_bg.jpg) 50% 50% no-repeat;
    padding: 30px 5%;
}

main .filters .structure{
    margin-right: 100px;
    position: relative;
}

main .filters .property{
    position: relative;
}

main .filters a{
    text-decoration: none;
    color: #fff;
}

main .filters .filter-title{
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    margin-bottom: 30px;
    text-align: left;
}

main .filters ul{
    list-style: none;
    text-align: left;
}

main .filters ul li{
    margin-top: 26px;
    margin-left: 38px;
}

.filters ul li label{
    color: white;
    font-size: 14px;
    line-height: 21px;
}

input[type="checkbox"]{
    display: none;
}

input[type="checkbox"] + label:before{
    content: '';
    background: url(img/unchecked.png) 0 0 no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -1px;
}

input[type="checkbox"]:checked + label:before {
    background: url(img/checked.png) 0 0 no-repeat;
}

/*    Sort    */

.sort{
    padding: 31px 5%;
    border-bottom: 1px solid #e5e5e5;
}

.sort .result{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    padding-right: 48px;
    float: left;
}

.sort .sort-filters ul{
    list-style: none;
    float: left;
    padding-top: 8px;
}

.sort .sort-filters ul li{
    float: left;
}

.sort .sort-filters{
    font-size: 12px;
    line-height: 18px;
}

.sort .sort-solid{
    margin-left: 40px;
    color: #81b3d2;
}

.sort .sort-dotted{
    margin-left: 40px;
    color: #b1b1b1;
    border-bottom: 1px dotted #81b3d2;
}

/*    Item    */

.item-col-center{
    float: left;
}

.items .item{
    padding: 30px 5%;
    border-bottom: 1px solid #e5e5e5;
}
